{% extends 'registration/layout.html' %}

{% block main %}

<div class="login" style="">
    <h2 style="text-align:center">post your jobs</h2>    
    <form action="/posting/" method="POST" style="padding-top:2%;">
        {% csrf_token %}
        <input type = "text" class="form-control" name = "title" placeholder="Title" />
        <br>
        <input type = "text" class="form-control" name = "name" placeholder="Name" />
        <br>
        <textarea rows = "5" cols = "50" class="form-control" name ="description" placeholder="Discription"></textarea>
        <br>
        <input type = "text" class="form-control" name = "email" placeholder="Email"/>
        <br>
        <input type = "text" class="form-control" name = "contact" placeholder="Contact" />
        <br>
        <input type = "text" class="form-control" name = "exp" placeholder="Experience" />      
        <br>
        <input type = "text" class="form-control" name = "location" placeholder="Location" />          
        <br>
        <input type="submit" value="post" class="btn btn-primary " style="width:100%">
        </form>
</div>
</div>

{% endblock %}