{% extends 'layout.html' %}

{% block title%}
{{ job.title }}
{% endblock %}


{% block main %}

    <table class="table">    
        <tr>
            <td><b>Name</b></td>
            <td>{{job.name}}</td>
        </tr>
        <tr>
            <td><b>Date</b></td>
            <td>{{job.date}}</td>
        </tr>    
        <tr>
            <th><b>Contact</b></td>
            <td>{{job.contact}}</td>
        </tr>    
        <tr>
                <td><b>Email</b></td>
                <td>{{job.mail}}</td>
        </tr>
        <tr>
                <td><b>Description</b></td>
                <td>{{job.discription|linebreaks}}</td>
        </tr>

        <tr >
            <td colspan="2">
                <a href="/applied/{{job.id}}" ><input type="button" class="btn btn-primary" value="APPLY"/></a>
            </td>
        </tr>
        
        </table>

{% endblock %}