{% load static %}
<html>
    <head>
        
        <title>home.html</title>
     </head>
        <body>
                <link rel="stylesheet" href="{% static 'style.css' %}">

            <div class="header">
                <div style="text-align: center; background-color:rgb(240, 194, 70);border-bottom-left-radius:30cm; border-top-right-radius: 30cm;"
            <font face = "Comic sans MS" size =" 5"><h1>ONLINE JOB SEARCH</h1></font><br/>
            <a href="/" style="color:black;"><B> HOME </B> </a>
            <a href="/create" style="color:black;"><B> CREATE</B></a>
            <a href="/about" style="color:black;"> <B>ABOUT</B> </a>
                </div>
            </div>
            
            <div class="main" style="padding-top:10px;" >
                 <div style="text-align: center;margin: 0 auto; width: 600px; border: 1px solid red;border-radius: 5px;">
                    <div>
                        <h1>
                            <center>
                                FIND YOUR DREAM JOB
                            </center>
                        </h1>
                        <div style="padding-bottom:10px">
                        <input class=form type = "search" name = "search" placeholder = "search" />
                    </div>
                    </div>
                  </div>
                 <div style="text-align: center";>
                    <div>
                        {% for i in job %}
                            <div class="job_line">
                                <h2>Title : <a href="jobs/{{i.id}}/">{{i.title}}</a></h2>
                                 <span> Experience :{{i.exp}} yrs</span>
                            </div>
                        {% endfor %}
                    </div>
                </div>

            </div>
            <div class="footer">
                    <div style=" background-color:lightsalmon;">
                    </div>
            </div>
        </body>
    </head>
</html>