{% extends 'layout.html' %}

{% block title %}

Home Page
{% endblock %}


{% block main %}
<div class="main" style="padding-top:10px;" >
        <div style="text-align: center;margin: 0 auto; width: 600px; border: 1px solid red;border-radius: 5px;">
            <div>
                <h1>
                    <center>
                        FIND YOUR DREAM JOB
                    </center>
                </h1>
                <div style="padding-bottom:10px">
                  <form method="POST" action="/searching/">
                    {% csrf_token %}
                  <input class=form type = "search" name = "search" placeholder = "search" />
                <input type="submit" value="submit" />
                </form>
            </div>
            </div>
        </div>


{% if search %}
<p>You are find for <b>{{key}}</b></p>
<table class="table">
    <tr>
        <th>Job title</th>
        <th>Required Experience</th>
        <th>Posted Date</th>
    </tr>
    {% for i in search %}
        <tr>
            <td> <a href="/job/{{i.id}}">{{ i.title }}</a></td>
            <td>{{ i.exp }} yrs</td>
            <td>{{i.date}}</td>
        </tr>
    {% endfor %}    
</table>


{% else %}
    <table class="table"  style="margin-top:10px;">
        <tr>
            <th>Job title</th>
            <th>Required Experience</th>
            <th>Posted Date</th>
        </tr>
        {% for i in job %}
            <tr>
                <td> <a href="/job/{{i.id}}">{{ i.title }}</a></td>
                <td>{{ i.exp }} yrs</td>
                <td>{{i.date}}</td>
            </tr>
        {% endfor %}
    </table>
{% endif %}

{% endblock %}


